html{
    background-color: black;
    text-align: center;
}

h1,h2{
    color: white;
}
h1{
    text-transform: uppercase;
}
img{

    border: 5px solid white;
    width: 100%;
}
div{
    width: 50%;
    margin-top: 7%;
    margin-left: 25%;
}